In [22]:
t1 = tuple()
n = int (input("Total no of values in First tuple: "))
for i in range(n):
     a = input("Enter Elements : ")
     t1 = t1 + (a,)
t2 = tuple()
m = int (input("Total no of values in Second tuple: "))
for i in range(m):
     a = input("Enter Elements : ")
     t2 = t2 + (a,)
print("First Tuple : ")
print(t1)
print("Second Tuple : ")
print(t2)

t1,t2 = t2, t1

print("After Swapping: ")
print("First Tuple : ")
print(t1)
print("Second Tuple : ")
print(t2)

Total no of values in First tuple: 4
Enter Elements : 4
Enter Elements : 5
Enter Elements : 6
Enter Elements : 7
Total no of values in Second tuple: 5
Enter Elements : 8
Enter Elements : 9
Enter Elements : 11
Enter Elements : 13
Enter Elements : 5
First Tuple :
('4', '5', '6', '7')
Second Tuple :
('8', '9', '11', '13', '5')
After Swapping:
First Tuple :
('8', '9', '11', '13', '5')
Second Tuple :
('4', '5', '6', '7')